[submodule "vimfiles/bundle/code_complete"]
	path = vimfiles/bundle/code_complete
	url = https://github.com/mbbill/code_complete.git
[submodule "vimfiles/bundle/gundo"]
	path = vimfiles/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/jedi-vim"]
	path = vimfiles/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vimfiles/bundle/autotag"]
	path = vimfiles/bundle/autotag
	url = https://github.com/craigemery/vim-autotag.git
[submodule "vimfiles/bundle/jellybeans"]
	path = vimfiles/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/omnicppcomplete"]
	path = vimfiles/bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vimfiles/bundle/python-syntax"]
	path = vimfiles/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/airline"]
	path = vimfiles/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vimfiles/bundle/easymotion"]
	path = vimfiles/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vimfiles/bundle/fswitch"]
	path = vimfiles/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vimfiles/bundle/SrcExpl"]
	path = vimfiles/bundle/SrcExpl
	url = https://github.com/wesleyche/SrcExpl.git
[submodule "vimfiles/bundle/easygrep"]
	path = vimfiles/bundle/easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
