[submodule "vimfiles/bundle/gundo"]
	path = vimfiles/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/jellybeans"]
	path = vimfiles/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/airline"]
	path = vimfiles/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vimfiles/bundle/fswitch"]
	path = vimfiles/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/airline-themes"]
	path = vimfiles/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vimfiles/bundle/fzf"]
	path = vimfiles/bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vimfiles/bundle/sneak"]
	path = vimfiles/bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vimfiles/bundle/over"]
	path = vimfiles/bundle/over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "vimfiles/bundle/bufkill"]
	path = vimfiles/bundle/bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "vimfiles/bundle/sleuth"]
	path = vimfiles/bundle/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vimfiles/bundle/gitgutter"]
	path = vimfiles/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
